
body {
    font-family: Arial, sans-serif;
    background-color: #7474ae;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container2 {
    max-width: 900px;
    margin: 30px auto;
    background: #ffffff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.container {
    max-width: 900px;
    margin: 30px auto;
    background: #ffffff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}
table th {
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
table tr:nth-child(even) {
    background-color: #f9f9f9;
}
table tr:hover {
    background-color: #f1f1f1;
}
.actions a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
}
.actions a:hover {
    background-color: #218838;
}
.actions a.delete {
    background-color: #dc3545;
}
.actions a.delete:hover {
    background-color: #c82333;
}


button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}


a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
}
a.button:hover {
    background-color: #0056b3;
}
